* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e2341d;
    font-family: 'SONIC';
  }
  
  body {
    
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 3em;
    overflow: hidden;
  }
  @font-face {
    font-family: 'SONIC';
    src: url("/SonicBT-ExtraBold.otf") format("opentype");
  }
  
  .maze {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  #settings {
    position: absolute;
    padding: 1.5rem;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #161616;
    font-size: 1.4rem;
    z-index: 2;
  }
  
  input {
    margin-bottom: 2rem;
    background-color: #161616;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin-top: 0.2rem;
  }
  
  #submit {
    height: 4em;
    width: 12em;
    background-color: #161616;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 0.2em;
    cursor: pointer;
    margin: 1rem;
    font-size: 1rem;
  }
  
  #submit:hover {
    opacity: 0.7;
  }
  
  .complete {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
    background: #000000;
    z-index: 4;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
  }
  
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    color: #e2341d;
  }